<h1>Editando: <%= @serie.nombre %></h1>

<p id="notice"> <%= notice %> </p>

#Notar que en este form damos de forma explicita el controlador al cual se dirije en el "url"
<%= form_with(model: @serie, url: serie_update_path(@serie.id), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :puntuacion %>
    <%= form.number_field :puntuacion %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_field :comentario %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>